<html>
    <head>
        <title>Come2misun Blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>
    <body>
        <div>
	    {{posts}}
            {% for post in posts %}
                <p>publisehd : {{post.published_date}}</p>
                <h1><a href="">{{post.title}}</a></h1>
                <p>{{post.text|linebreaks}}</p>
            {% endfor %}
            <h1>Title</h1>
        </div>

    </body>


</html>
